<br>
<br>
<br>
<div class="blog-area pt-95 pb-55">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>NOS EMPLOYES</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/employe/meme.jpg" alt=""></a>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Mr Bean <br> </a></h3>
                            <span>Ajouter à mes favoris : <a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
