<br><br><br><br><br><br><br><br><br>
<div class="tab-content">
    <table class="table w-75 mx-auto table-secondary table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Service</th>
            <th scope="col">Date & Heure</th>
            <th scope="col">Employé sélectionné</th>
            <th scope="col">Paiement</th>
            <th scope="col">Service terminé</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>test</td>
            <td>dd</td>
          </tr>
        </tbody>
      </table>
</div>
