<br><br><br><br><br><br><br><br><br>
<div class="tab-content">
    <table class="table w-75 mx-auto table-secondary table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Service</th>
            <th scope="col">Date & Heure</th>
            <th scope="col">Employé sélectionné</th>
            <th scope="col">Paiement</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Epilation</td>
            <td>20 JAnvier</td>
            <td>JEan</td>
            <td><i class="fa fa-times"></i></td>
            <!-- <td><i class="fa fa-check"></i></td> -->
            <td>
              <div class="btn btn-light">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalPaiement" data-bs-dismiss="modal">Paiement </a>
            </div>
            </td>
          
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>Epilation</td>
            <td>20 JAnvier</td>
            <td>JEan</td>
            <td><i class="fa fa-times"></i></td>
            <!-- <td><i class="fa fa-check"></i></td> -->
            <td>
              <div class="btn btn-light">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalPaiement" data-bs-dismiss="modal">Paiement </a>
            </div>
            </td>
          
          </tr>
        </tbody>
      </table>
</div>
<style>
  tbody {
  display:block;
  max-height:500px;
  overflow-y:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
} 
</style>