<header class="header-area clearfix header-hm9 transparent-bar">
    <div class="container">
        <div class="header-top-area header-top-border">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-12">

                </div>
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="logo-hm9 text-center">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.webp">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                    <div class="header-right-wrap">
                        <div class="same-style header-search">
                            <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                            <div class="search-content">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                            <div class="account-dropdown">
                                <ul>
                                    <li><a routerLink="/login">Logout</a></li>
                                    <!-- <li><a href="wishlist.html">Wishlist  </a></li> -->
                                    <li><a href="my-account.html">My account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="same-style header-wishlist">
                            <a routerLink="/favoris"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="same-style cart-wrap">
                            <button class="icon-cart">
                                <i class="pe-7s-shopbag"></i>
                                <span class="count-style">02</span>
                            </button>
                            <div class="shopping-cart-content">
                                <ul>

                                    <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/img/cart/cart-2.webp"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">Service Title </a></h4>
                                            <h6>Durée: 20min</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fa fa-times-circle"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-total">
                                    <h4>Durée totale : <span>2h</span></h4>
                                    <h4>Total : <span class="shop-total">$260.00</span></h4>
                                </div>
                                <div class="shopping-cart-btn btn-hover text-center">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalRDV"
                                        data-bs-dismiss="modal">Prendre rendez-vous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-bottom sticky-bar header-res-padding header-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block d-lg-none">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.webp">
                        </a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>

                                <li><a routerLink="/services"> Services </a>
                                </li>
                                <li><a routerLink="/offresSpeciales">Offres spéciales</a></li>
                                <li><a routerLink="/employes"> Nos employés </a>
                                </li>
                                <li><a routerLink="/historique"> Mes Rendez-vous </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<router-outlet></router-outlet>


<div class="save-money-area pt-100">
    <div class="container">
        <div class="bg-img pt-100 pb-100" style="background-image:url(assets/img/bg/bg1.jpg);">
            <div class="save-money-content">
                <h2>Shop and save money</h2>
                <div class="save-money-btn">
                    <a href="#">Buy $97.09</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.webp">
                        </a>
                    </div>
                    <p>© 2024 <a href="#">M1</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3>SUBSCRIBE</h3>
                    </div>
                    <div class="subscribe-style">
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank"
                                name="mc-embedded-subscribe-form" method="post"
                                action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email here.."
                                        name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1"
                                            name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe"
                                            value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Modal RDV -->
<div class="modal fade" id="modalRDV" tabindex="0" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/product/quickview-l1.webp" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.webp" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l3.webp" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.webp" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-bs-toggle="tab" href="#pro-1"><img
                                        src="assets/img/product/quickview-s1.webp" alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.webp"
                                        alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.webp"
                                        alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.webp"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Mon Panier</h2>
                            <div class="tab-content">
                                <table class="table  w-100 mx-auto  table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Durée</th>
                                            <th scope="col">Prix</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Service Name</td>
                                            <td>20 min</td>
                                            <td>10.000ar</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product-details-price">
                                <p>Total : 10.000 ar | Durée : 2H</p><br>

                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <div class="pro-details-color-content">
                                        <form>
                                            <!-- <div class="form-group">
                                                
                                              <label for="cardNumber">Numéro de Carte</label>
                                              <input type="text" class="form-control" id="cardNumber" placeholder="1234 5678 9012 3456">
                                            </div>
                                            <div class="form-row">
                                              <div class="form-group col-md-6">
                                                <label for="expiryDate">Date d'expiration</label>
                                                <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY">
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label for="cvv">CVV</label>
                                                <input type="text" class="form-control" id="cvv" placeholder="123">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label for="cardHolderName">Nom du Titulaire de la Carte</label>
                                              <input type="text" class="form-control" id="cardHolderName" placeholder="John Doe">
                                            </div> -->


                                            <div class="form-group">
                                                <label for="dateRdv">Date et heure du rendez-vous :</label>
                                                <input type="datetime-local">
                                            </div>
                                            <br>
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Sélectionnez un employé
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" href="#"><img src="path-to-image-1.jpg"
                                                                class="rounded-image"> Nom Employé</a></li>
                                                </ul>

                                            </div>


                                            <div class="pro-details-quality">

                                                <div class="pro-details-cart btn-hover">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalPaiement"
                                                        data-bs-dismiss="modal">Confirmer rendez-vous </a>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Modal RDV -->
<div class="modal fade" id="modalPaiement" tabindex="0" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/product/quickview-l1.webp" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.webp" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l3.webp" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.webp" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-bs-toggle="tab" href="#pro-1"><img
                                        src="assets/img/product/quickview-s1.webp" alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.webp"
                                        alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.webp"
                                        alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.webp"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Paiement</h2>

                            <div class="product-details-price">
                                <p>Total : 10.000 ar | Durée : 2H</p><br>

                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <div class="pro-details-color-content">
                                        <form>
                                            <div class="form-group">

                                                <label for="cardNumber">Numéro de Carte</label>
                                                <input type="text" class="form-control" id="cardNumber"
                                                    placeholder="1234 5678 9012 3456">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="expiryDate">Date d'expiration</label>
                                                    <input type="text" class="form-control" id="expiryDate"
                                                        placeholder="MM/YY">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="cvv">CVV</label>
                                                    <input type="text" class="form-control" id="cvv" placeholder="123">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardHolderName">Nom du Titulaire de la Carte</label>
                                                <input type="text" class="form-control" id="cardHolderName"
                                                    placeholder="John Doe">
                                            </div>



                                            <div class="pro-details-quality">

                                                <div class="pro-details-cart btn-hover">
                                                    <a href="#" data-bs-toggle="modal" data-bs-dismiss="modal">Payer
                                                    </a>
                                                </div>
                                                <div class="pro-details-cart btn-hover">
                                                    <a href="#" data-bs-toggle="modal" data-bs-dismiss="modal">Payer sur
                                                        place</a>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->




<style>
    .rounded-image {
        width: 20px;
        /* Ajustez la taille de l'image selon vos besoins */
        height: 20px;
        border-radius: 50%;
        /* Rend l'image ronde en utilisant un border-radius de 50% */
    }
</style>