<div class="slider-banner-area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-8 col-md-12">
                <div class="slider-area res-mrg-md-mb">
                           <h1>Réservations : <input type="month"></h1>  
                           <br>   
                           <div class="tab-content">
                            <table class="table w-80 mx-auto table-responsive table-striped overflow-y:auto">
                                <thead>
                                  <tr>
                                    <th scope="col">Jour</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Nombre de réservation</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col">1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>


                                  </tr>
                                </tbody>
                              </table>
                        </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-banner mb-30">
                           <h1>Temps de travail</h1>
                           <div class="form-group">
                                       
                            <table class="table w-80 mx-auto table-striped overflow-y:auto">
                                <thead>
                                  <tr>
                                    <th scope="col" width="10px"></th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Temps moyen de travail</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" width="10px">1</th>
                                    <td>Mark</td>
                                    <td>250mn</td>
                                  </tr>
                                  
                                </tbody>
                              </table>

                                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- Chiffre d'affaire -->
  <div class="slider-banner-area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-15 col-md-15">
                <div class="slider-area res-mrg-md-mb">
                           <h1>Chiffre d'affaire : <input type="month"></h1>  
                           <br>   
                           <div class="tab-content">
                            <table class="table  w-80 mx-auto table-responsive table-striped overflow-y:auto">
                                <thead>
                                  <tr>
                                    <th scope="col">Jour</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Chiffre d'affaire</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col">1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>
                                    <th scope="col" >1</th>


                                  </tr>
                                </tbody>
                              </table>
                        </div>
                   
                </div>
            </div>
        
        </div>
    </div>
  </div>

  <!-- Chiffre d'affaire -->
  <div class="slider-banner-area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-15 col-md-15">
                <div class="slider-area res-mrg-md-mb">
                           <h1>Calcul bénéfice : </h1>  
                           <br>   
                           <div class="tab-content">
                            <input type="number" multiple>
                        </div>
                   
                </div>
            </div>
        
        </div>
    </div>
  </div>



  <style>
    tbody {
    display:block;
    max-height:500px;
    overflow-y:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
} 
h1 {
            color: #8d16c9; /* Set your preferred color, this is a blue color example */
        }
</style>