<div class="row">
  <div class="col-md-10">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Service Title</h5>
          </a>
          
        </div>
        <p class="description text-center">
          "Service description"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="update ml-auto mr-auto">
          <button type="submit" href="apointement.component.html" class="btn btn-primary btn-round">Prendre un rendez vous</button>
        </div>
      </div>
    </div>
  </div>
</div>
